.vs/
Tests/
bin/
obj/
.idea/
__pycache__/
data/
docs/


classes.labels
files.index
files.txt
images/
labels/
index_file_gen.py
_stuff/
_run/
_thrash/

*.pdf
*.aux
*.log
*.toc
*.out
*.bbl
*.blg
*.dvi
*.lof
*.lot
*.xmpi
*.gz
*.xml
*.bcf
*.pickle
*.tfrecord
imagenet_access_key