.vs/
Tests/
bin/
obj/
.idea/
__pycache__/
data/
edges/


classes.labels
files.index
files.txt
images/
labels/
index_file_gen.py
_stuff/
_run/
_thrash/

text/*.pdf
text/*.aux
text/*.log
text/*.toc
text/*.out
text/*.bbl
text/*.blg
text/*.dvi
text/*.lof
text/*.lot
text/*.xmpi
text/*.gz