@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
	margin:0;
	padding:0;
}

html, body {
  font: 300 14px 'Helvetica Neue', Helvetica;
  height: 100%;
}

svg {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.node rect {
  stroke: #999;
  fill: #fff;
}

.node._image-node rect {
  stroke: #F48024;
}
.node._visited-node rect {
  stroke: #0060ff;
}

.node._child-node rect {
  fill: #f9f9f9;
}
.node._selected-node rect {
  fill: #F48024;
}
.node._deleted-node rect {
  fill: #555;
}
.node._selected-node._deleted-node rect {
  fill: #ff0000!important;
}

.edgePath path {
  stroke: #333;
  fill: #333;
  stroke-width: 1.5px;
}

#controls {
	position: absolute;
	top: 0;
	right: 0;
}
#controls button {
	float: right;
}

.clear {
    clear: both;
}
.legend {
    padding: 0 5px 5px;
    max-width: 300px;
    font-size: 10px;
    background: #fff;
}
.legend p {
    padding-top: 5px;
    line-height: 18px;
}
.legend p strong {
    padding: 0 2px;
    border-radius: 3px;
}
.legend p strong i {
    font-weight: normal;
}

.btn {
    display: inline-block;
    border: none;
    background: transparent;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    cursor: pointer;
    outline: none;
    position: relative;

    background: #2e334a;
	color: #fff;
	
	margin-left:5px;
	padding: 3px;
}

.node-html ._name {
  font-size: 1.5em;
  font-weight: bold;
  color: #60b1fc;
  margin: 0;
}

.node-html ._name span {
    padding-left: 5px;
    font-size: 0.8em;
    color: #fff;
    font-style: italics;
    font-weight: normal;
}

.node-html ._description {
  font-size: 1.2em;
  padding: 10px 0;
}

.node-html img {
    height: 90px;
    max-width: 120px;
}

.tipsy { font-size: 10px; position: absolute; padding: 5px; z-index: 100000; }
.tipsy-inner { background-color: #000; color: #FFF; max-width: 200px; padding: 5px 8px 4px 8px; text-align: center; }

/* Rounded corners */
.tipsy-inner { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }

/* Uncomment for shadow */
.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }

.tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #000; }

/* Rules to colour arrows */
.tipsy-arrow-n { border-bottom-color: #000; }
.tipsy-arrow-s { border-top-color: #000; }
.tipsy-arrow-e { border-left-color: #000; }
.tipsy-arrow-w { border-right-color: #000; }

.tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
.tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
.tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
.tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
.tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
.tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
.tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
.tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }
